.what-i-2{
    background-image: linear-gradient(black 15%, #191B1E 15%);
    /* border: 2px dotted rgb(24, 198, 204); */
    display: grid;
    grid-template-rows: auto auto;
    gap: 50px;
    min-height: 100vh;
}
.what-head2 .div{
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    width: 100%;
    height: fit-content;
    /* background-image: linear-gradient(black 20%, #191B1E 20%); */
    height: 100%;
    /* border: 2px dotted blue; */
}
.what-head2{
    /* position: relative; */
    background-color: rgba(127, 255, 212, 0);
    width: 100%;
    /* height: 300px; */
}
.what-head2 .img{
    /* width: 600px; */
    width: 100%;
    height: 300px;
    background-color: rgba(0, 255, 255, 0);
}
.what-head2 div{
    font-size: 60px;
    color: rgba(255, 255, 255, 0.863);
}
.what-body2{
    background-color: rgba(0, 255, 255, 0);
    /* width: 100%; */
    height: 100%;
    color: #eef6f8d7;
    /* padding: 150px 0 0 200px; */
    /* border: 2px dotted green; */
}
.what-body2 .r1{
    font-size: 40px;
    font-weight: bold;
}
.what-body2 .r2{
    font-size: 40px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    color: #eef6f8b9;
}
.what-body2 .r2 div{
    margin-top: 30px;
}
@media screen and (max-width: 768px) {
    .what-i-2{
        min-height: 100vh;
        /* border: 1px solid white; */
    }
    .what-head2 .img{
        width: 100%;
        height: 300px;
    }
    .what-head2 div{
        font-size: 50px;
        color: rgba(255, 255, 255, 0.863);
    }
    .what-head2 .div div,.what-i-2 .what-body2{
        /* padding: 50px; */
    }
    .what-head2 .div{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .what-body2 .r1{
        font-size: 53px;
        font-weight: bold;
    }
    .what-body2 .r2{
        font-size: 22px;
        font-weight: 200;
        font-family: 'Raleway', sans-serif;
        color: #eef6f8b9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /* .what-body2 .r2 div{
        margin-top: 30px;
    } */
    .what-head2 .div div,.what-body2{
        padding: 0 50px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .what-head2 .img{
        /* width: 600px; */
        width: 100%;
        height: 300px;
        background-color: rgba(0, 255, 255, 0);
    }
    .what-head2 .div div,.what-body2{
        padding: 0 70px;
    }
    /* .what-body2 .r2 div{
        margin-top: 30px;
    } */
}
@media screen and (min-width: 993px)  {
    .what-head2 .div{
        align-content: space-evenly;
        height: 100%;
        grid-template-columns: 60% 40%;
        gap: 25px;
    }
    .what-head2 div{
        align-self: end;
    }
    .what-head2,.what-body2{
        padding: 0 60px ;
    }
    .what-head2 .img{
        align-self: flex-start;
        width: 650px;
        height: 350px;
        background-color: rgba(0, 255, 255, 0);
    }
}