.what-i {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: auto;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
}
.tra {
  position: absolute;
  top: -10vh;
  width: 100%;
  height: 10vh;
  /* background-color: rgb(255, 99, 71); */
  background-image: linear-gradient(1deg, black 50%, #191b1e00 50%);
}
.what-i-para {
  box-sizing: border-box;
  padding: 5px 5px 0 5px;
  width: 271px;
  height: fit-content;
  position: relative;
  box-sizing: content-box;
  border: 1px solid transparent;
  overflow: visible;
  background-color: #00ffff00;
}
.what-i-para:hover {
  z-index: 2;
  /* margin: 10px; */
}
.what-i-para .windows {
  top: 0;
  left: 0;
  box-sizing: border-box;
  /* background: rgba(187, 40, 40, 0.314); */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: none;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid transparent;
}
.what-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgba(0, 255, 255, 0);
  height: 40vh;
}
.what-head div:nth-child(1) {
  font-size: 40px;
  color: #eef6f8e3;
}
.what-head div:last-child {
  font-size: 15px;
  color: #eef6f8b2;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}
.what-body {
  display: grid;
  justify-items: center;
  background-color: rgba(0, 255, 255, 0);
}
.what-body .para-one {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.897);
}
.what-body .para-two {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.733);
}
.what-body .para-three {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.411);
}
.what-i-para div {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .what-body {
    grid-template-columns: auto;
  }
  .what-head div:last-child {
    width: 250px;
  }
  .what-head {
    align-items: center;
  }
  .what-i-para {
    margin-top: 50px;
  }
  .tra {
    background-image: linear-gradient(10deg, black 50%, #191b1e00 50%);
  }
}
@media screen and (min-width: 769px) and (max-width: 1090px) {
  .what-body {
    grid-template-columns: 50% 50%;
    justify-items: flex-start;
  }
  .what-head div:last-child {
    width: 650px;
  }
  .what-i-para {
    margin-top: 50px;
  }
  .what-i {
    padding-bottom: 25vh;
    padding-left: 50px;
  }
  .tra {
    background-image: linear-gradient(3deg, black 50%, #191b1e00 50%);
  }
}
@media screen and (min-width: 1091px) {
  .what-body {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .what-head div:last-child {
    width: 750px;
  }
  .what-i {
    padding-bottom: 10vh;
    padding-left: 50px;
    align-content: center;
    gap: 100px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1350px) {
  .what-body {
    justify-items: flex-start;
    grid-template-columns: 50% 50%;
  }
}
