.show {
  height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40vh 0;
  overflow: hidden;
}
.show .show-img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 90vh;
  height: 90vh;
  z-index: -1;
  filter: blur(5px);
}
.show .cut {
  position: absolute;
  top: 85vh;
  width: 100%;
  height: 100%;
  background-color: #1c1e22;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.btns {
  height: 50px;
  width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 100px; */
  z-index: 2;
  bottom: 0;
  background-color: rgba(0, 255, 255, 0);
}
.btns img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.left {
  position: fixed;
  justify-content: flex-end;
  bottom: 40px;
  right: 70px;
}
.right {
  position: fixed;
  justify-content: flex-end;
  right: 70px;
  background-size: 30%;
}
.show .card {
  box-sizing: border-box;
  height: 200vh;
  width: 70%;
  background-color: #141618;
  border-radius: 10px;
  padding: 100px 60px;
  z-index: 1;
}
.show .card h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: rgba(238, 246, 248, 0.5);
}
.show .card h1 {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 37.9px;
  line-height: 34px;

  color: #eef6f8;
}

.show .fot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  border: 1px solid rgba(0, 255, 255, 0);
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fot button {
  width: 196px;
  height: 66px;
  border: 1px solid #eef6f8;
  box-sizing: border-box;
  border-radius: 21px;
  background-color: #00000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16.5778px;
  line-height: 27px;
  color: #eef6f8;
  margin: 7px;
}

@media screen and (max-width: 768px) {
  .left {
    right: 10px;
  }
  .right {
    right: 10px;
  }
  .show .card {
    width: 100%;
  }
  .show .fot {
    flex-direction: column;
    height: fit-content;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
}
@media screen and (min-width: 993px) {
}
