.coming-soon {
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 60% 20% 20%;
  width: 100%;
}
.soon-body {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eef6f8;
}
.soon-body > :nth-child(2) {
  font-weight: 600;
  font-size: 59px;
}
.soon-body > :nth-child(3) {
  font-weight: 300;
  font-size: 35px;
  margin-top: -5px;
}
.soon-body > :nth-child(4) {
  margin-top: 10px;
  font-weight: 300;
  font-size: 23px;
  font-family: "Raleway", sans-serif;
  opacity: 0.6;
}
.soon-body .img {
  position: absolute;
  width: 400px;
  height: 350px;
  z-index: -1;
}

.soon-form {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  grid-template-columns: auto auto auto;
}
.soon-form > :nth-child(1) {
  font-family: Cinzel;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: right;
}
.soon-form > :nth-child(3) {
  width: 116px;
  height: 41px;
  background: rgba(238, 246, 248, 0.22);
  font-weight: 300;
  border: 1px solid #eef6f8;
  color: #eef6f8;
  font-size: 18px;
  font-family: Century Gothic;
}
.soon-form .input,
.false {
  border: 0;
  border-bottom: 1px solid #eef6f8c9;
  background-color: rgba(0, 0, 0, 0);
  color: #eef6f8;
  width: 327px;
  height: 30px;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  transition: all 0.5s linear;
}
.input::placeholder {
  color: #eef6f8;
  opacity: 0.3;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
.true {
  color: #ff5f5f;
  border: 0;
  border-bottom: 1px solid #ff5f5f;
}
.wrong-email {
  color: #ff5f5f;
  transition: all 0.5s linear;
}

.soon-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.soon-footer > :nth-child(1) {
  margin-top: -10px;
  color: #eef6f8;
  opacity: 0.8;
  font-weight: normal;
  font-size: 25px;
}
.soon-footer .lin {
  margin-top: 10px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.notify:disabled {
  opacity: 0.5;
}
.notify {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .soon-body > :nth-child(2) {
    font-size: 39px;
  }
  .soon-body > :nth-child(3) {
    font-size: 25px;
  }
  .soon-body > :nth-child(4) {
    font-size: 15px;
  }
  .soon-body .img {
    width: 300px;
    height: 250px;
  }
  .input,
  .false {
    width: 250px;
    height: 30px;
  }
  .soon-form {
    gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .soon-footer .lin {
    width: 200px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
}
@media screen and (min-width: 993px) {
}
